.gen-gr-header {
    font-size: 1.5em;
    padding: 4px 4px;
    border: 10px solid transparent;
    border-image-source: url(../img/biveld-9s-B/gray/temp/temp-grB.png);
    border-image-slice: 14 fill;
    align-items: center;
    display: flex;
    justify-content: space-between;
}


.page-ch {
    margin: 5px;
    font-size: .5em;
    padding: 10px 5px;
    border: 10px solid transparent;
    border-image-source: url(../img/biveld-9s-B/red/temp/temp-rB.png);
    border-image-slice: 14 fill;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.href-1 {
    margin: 2px;
    padding: 5px 3px;
    border: 10px solid transparent;
    border-image-source: url(../img/biveld-9s-B/red/temp/temp-rInb.png);
    border-image-slice: 14 fill;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.h1-gen1 {
    padding: 5px 3px;
    border: 18px solid transparent;
    border-image-source: url(../img/biveld-9s-B/blue/temp/temp-brBInB.png);
    border-image-slice: 40 fill;
}

.h2-gen1 {
    padding: 10px 10px;
    border: 18px solid transparent;
    border-image-source: url(../img/biveld-9s-B/blue/temp/temp-brBInB.png);
    border-image-slice: 40 fill;
    align-items: center;
    display: flex;

}

.h2-gen2 {
    margin: 10pt;
    padding: 10px 10px;
    border: 18px solid transparent;
    border-image-source: url(../img/biveld-9s-B/blue/temp/temp-brBInB.png);
    border-image-slice: 40 fill;
    align-items: center;
}

.img-gen1 {
    margin: 5pt;
    padding: 5px 5px;
    border: 15px solid transparent;
    border-image-source: url(../img/biveld-9s-B/Red/temp/temp-rInB.png);
    border-image-slice: 10 fill;

}
.img-gen2 {
    image-resolution: 10px;
    margin: 5pt;
    padding: 5px 5px;
    border: 15px solid transparent;
    border-image-source: url(../img/biveld-9s-B/Red/temp/temp-rInB.png);
    border-image-slice: 10 fill;

}

.p-gen1 {
    margin: 10pt;
    padding: 5px 5px;
    border: 15px solid transparent;
    border-image-source: url(../img/biveld-9s-B/blue/temp/temp-brInB.png);
    border-image-slice: 10 fill;
    align-items: center;
    justify-content: space-between;
}
